<%= form_for(@gallina_member) do |f| %>
  <% if @gallina_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallina_member.errors.count, "error") %> prohibited this gallina_member from being saved:</h2>

      <ul>
      <% @gallina_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gallina_id %><br>
    <%= f.number_field :gallina_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
