<p id="notice"><%= notice %></p>

<p>
  <strong>Gallina:</strong>
  <%= @agreement.gallina_id %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @agreement.statement %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
