<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallina.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallina.description %>
</p>

<%= link_to 'Edit', edit_gallina_path(@gallina) %> |
<%= link_to 'Back', gallinas_path %>

<h2>Agreements</h2>
<br>
<% @gallina.agreements.each do |agreement| %>
  <hr>
  (<%= agreement.created_at %>)
  <br>
  <%= agreement.statement %>
  <br>
  <% agreement.user_agreements.each do |user_agreement| %>
    <%=user_agreement.user.email%>
    <% if user_agreement.accepted==true %>
      Aceptado
    <% else %>
      Rechazado
    <% end %>
    (<%=user_agreement.created_at%>)
    <br>
  <% end %>
  <br>
  <a href="/home/accept_agreement?agreement_id=<%=agreement.id%>&accepted=true">accept</a>
  <a href="/home/accept_agreement?agreement_id=<%=agreement.id%>&accepted=false">reject</a>
  <br>
<% end %>
<hr>

<h2>Add new agreement</h2>

<%= form_for(Agreement.new) do |f| %>
  <div class="field">
    <%= f.hidden_field :gallina_id, :value=> @gallina.id %>
  </div>
  <div class="field">
    <%= f.label :statement %><br>
    <%= f.text_area :statement %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
