<p id="notice"><%= notice %></p>
<div class="feedback-top">
  <h3><%= @gallina.name %></h3>

  <p>
    <strong>Description:</strong>
    <%= @gallina.description %>
  </p>

  <h2>Users</h2>
  <%@gallina.users.each do |user|%>
    <%=user.email%>
    <a href="/gallinas/<%=@gallina.id%>/review_submission/<%=user.id%>">Rate</a>
    </br>
  <%end%>
  <%= link_to "/gallinas/#{@gallina.id}/invite", class: "btn hvr-sweep-to-right" do %>
    <i class="glyphicon glyphicon-plus"> </i>Invite
  <%end%>

  <%#= link_to 'Edit', edit_gallina_path(@gallina) %> 
  <%#= link_to 'Back', gallinas_path %>
</div>
<h3>Agreements</h3>

<div class="feedback-top">
  <br>
  <% @gallina.agreements.each do |agreement| %>
    <hr>
    <div class="event">
      <h6>(<%= agreement.created_at %>)</h6>
    </div>
    
    <br>
    <%= agreement.statement %>
    <br>
    <br>
    <% agreement.user_agreements.each do |user_agreement| %>
      <%=user_agreement.user.email%>
      <% if user_agreement.accepted==true %>
        Accepted
      <% else %>
        Rejected
      <% end %>
      (<%=user_agreement.created_at%>)
      <br>
    <% end %>
    <br>
    <br>
    <div class="links">
      <ul class="blog-links">
        <li><a href="/home/accept_agreement?agreement_id=<%=agreement.id%>&accepted=true"><i class="glyphicon glyphicon-ok"> </i><span>Accept</span></a></li>
        <li><a href="/home/accept_agreement?agreement_id=<%=agreement.id%>&accepted=false"><i class="glyphicon glyphicon-remove"> </i><span>Reject</span></a></li>
      </ul>
    </div>
    <br>
  <% end %>
  <hr>



  <h2>New agreement</h2>
  </br>
  <%= form_for(Agreement.new) do |f| %>
    <div class="field">
      <%= f.hidden_field :gallina_id, :value=> @gallina.id %>
    </div>
    <div class="field">
      <%= f.label :statement %><br>
      <%= f.text_area :statement %>
    </div>
    <div class="actions hvr-sweep-to-right">
      <%= f.submit %>
    </div>
  <% end %>



  <h3>Metrics</h3>

  <% @gallina.metrics.each do |metric| %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <label class="panel-title"><%= metric.name %></label>
        <p>Description: <%= metric.description %></p>
        <span>(weight: <%= metric.weight %>)</span>
      </div>
      <div class="panel-body">
        <h4>Questions</h4>
        <ul class="questions">
          <% metric.questions.each do |question| %>
            </br>
            <li>
              <h5><%= question.sentence %></h5>
              <ul>
                <li>
                  <label>Wanted: </label>
                  <%= question.wanted_statement %>
                </li>
                <li>
                  <label>Not Wanted: </label>
                  <%= question.not_wanted_statement %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            New Question <span class="caret"></span>
          </button>
          <ul id="new_question" class="dropdown-menu">
            <%= form_for(Question.new) do |f| %>
              <li>
                <%= f.hidden_field :metric_id, :value=> metric.id %>
              </li>
              <li>
                <%= f.label :sentence %><br>
                <%= f.text_field :sentence %>
              </li>
              <li>
                <%= f.label :wanted_statement %><br>
                <%= f.text_field :wanted_statement %>
              </li>
              <li>
                <%= f.label :not_wanted_statement %><br>
                <%= f.text_field :not_wanted_statement %>
              </li>
              <li class="actions hvr-sweep-to-right">
                <%= f.submit %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <%end%>

  <h2>New metric</h2>
  </br>
  <%= form_for(Metric.new) do |f| %>
    <div class="field">
      <%= f.hidden_field :gallina_id, :value=> @gallina.id %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :weight %><br>
      <%= f.number_field :weight %>
    </div>
    <div class="actions hvr-sweep-to-right">
      <%= f.submit %>
    </div>
  <% end %>

  <h3>Reviews</h3>
  <% @gallina.users.each do |reviewed| %>
  <h2><%=reviewed.email%> results</h2>
    <table border="2">
      <tr>
        <td>
          <b>Reviewer</b>
        </td>
        <% @gallina.metrics.each do |metric| %>
          <td colspan="<%= metric.questions.size+1 %>">
            <b><%= metric.name %></b>
          </td>
        <% end %>
        <td>
          <b>Total</b>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <% @gallina.metrics.each do |metric| %>
          <% metric.questions.each do |question| %>
            <td>
              <%= question.sentence %>
            </td>
          <% end %>
          <td>
            <i>Total</i>
          </td>
        <% end %>
        <td>
          <!-- Blank for total -->
        </td>
      </tr>
      <% reviewed_global_table = Hash.new %>
      <% current_reviewed = 0 %>
      <% @gallina.users.each do |reviewer| %>
        <tr>
          <td>
            <%= reviewer.email %>
          </td>
          <% current_metric = 0 %>
          <% reviewed_global_table[current_reviewed] = [] %>
          <% @gallina.metrics.each do |metric| %>
            <%metric_total=0%>
            <% metric.questions.each do |question| %>
              <td>
                <% reviewer_reviews = Review.where(:question_id=>question.id, :reviewer_id=>reviewer.id, :reviewed_id=>reviewed.id) %>
                <% grade = 0 %>
                <% if reviewer_reviews.size > 0 %>
                  <% grade = reviewer_reviews.last.grade %>
                <% end %>
                <%= grade %>
                <%metric_total+=grade%>
              </td>
            <% end %>
            <td>
              <% reviewed_global_table[current_reviewed][current_metric]=metric_total/metric.questions.size.to_f %>
              <i><%= reviewed_global_table[current_reviewed][current_metric] %></i>
            </td>
            <% current_metric += 1 %>
          <% end %>
          <td>
            <%= reviewed_global_table[current_reviewed].sum / reviewed_global_table[current_reviewed].size.to_f %>
          </td>
        </tr>
        <% current_reviewed += 1 %>
      <% end %>
      <tr>
        <td>
          Total
        </td>
        <% reviewed_total = 0 %>
        <% current_metric = 0 %>
        <% @gallina.metrics.each do |metric| %>
          <% metric_total = 0 %>
          <% for current_reviewer in 0..@gallina.users.size-1 %>
            <%= metric_total+= reviewed_global_table[current_reviewer][current_metric] %>
          <% end %>
          <td colspan="<%= metric.questions.size+1 %>">
            <%= metric_total %>
          </td>
          <% reviewed_total += metric_total %>
          <%= current_metric+=1 %>
        <% end %>
        <td>
          <b><%= reviewed_total/@gallina.metrics.size.to_f %></b>
        <td>
      </tr>
    </table>
  <% end %>
  </br>
</div>
