<p id="notice"><%= notice %></p>
<div class="feedback-top">
  <h3><%= @gallina.name %></h3>

  <p>
    <strong>Description:</strong>
    <%= @gallina.description %>
  </p>

  <% if @current_user_is_member %>
    <div class="links">
      <ul class="blog-links">
        <li><a href="/gallinas/<%=@gallina.id%>/edit"><i class="glyphicon glyphicon-edit"> </i><span>Edit</span></a></li>
      </ul>
    </div>
  <% end %>

  <%= render 'users' %>

</div>

<%= render 'agreements' %>

<%= render 'metrics' %>

<%= render 'reviews' %>

</div>
